html,body{
    margin: 0;
    padding: 0;
    p{
        margin: 0;
        padding: 0;
    }
}
.wrapper{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 800;
    .head{
        display: flex;
        flex-direction: row;
        .leftside{
            margin: 50px;
            img{
                width: 106px;
                height: 30px;
                cursor: pointer;
            }
        }
        .rightside{
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                margin: 50px 50px 50px 550px;
                li{
                    padding: 10px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}